body {
    background: #f4f7fb;
    font-family:Arial;
}
.cartao { background: white; }
#titulo { color: #2563eb; }
.bio { color: purple;}

.apresentacao {
    color: #1e293;
    background: #dbeafe;
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: left
}

p { color: blue; }
.aviso { color: orange; }
#erro { color: red; }