#areas > img {
    width: 80%;
   max-width: 400px;
   height: auto;
}

p{
    font-size: 1.37rem;
}


h1, h2, h3, h4, h5{
    font-size: 2.5rem;
}

#inicio > a, button{
    width: 50%;
    max-width: 300px;
}

.titulo{
    font-size: 2rem;
}

.titulo >h1{
    font-size: 3.5rem;
}